<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClentReservasi_105.Properties.Settings.WCFReservasi1ConnectionString"
            connectionString="Data Source=DESKTOP-C3KCD2B;Initial Catalog=WCFReservasi1;User ID=sa;Password=chika.00"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>